<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="P_threshold" value="0.3"/>
		<add key="VPact_threshold" value="0.5"/>
		<add key="VPdef_threshold" value="0.5"/>
	</appSettings>
	
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="StreamingBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="67108864"
						 maxBufferPoolSize="67108864"
						 maxBufferSize="65536"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
					<readerQuotas maxArrayLength="2147483647"
								  maxBytesPerRead="4096"
								  maxDepth="32"
								  maxStringContentLength="2147483647"
								  maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Service.WeatherService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002"/>
					</baseAddresses>
				</host>
				<endpoint
					address="WeatherService"
					binding="netTcpBinding"
					contract="Common.IStationService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>